
<!-- events -->
<div class="events-sec">
	 <div class="container">
		 <h3 class="tittle" >Events</h3>
		 <div class="event-grids">			
		     <div class="col-md-4 event-grid wow fadeInRight animated" data-wow-delay=".5s">
				 <div class="date">
				     <h4>26</h4>
					 <span>08/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="single.html">Etiam malesu feugiat.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid wow fadeInRight animated" data-wow-delay=".5s">
				 <div class="date">
				     <h4>24</h4>
					 <span>06/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="single.html">Etiam malesu feugiat.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid wow fadeInRight animated" data-wow-delay=".5s">
				 <div class="date">
				     <h4>20</h4>
					 <span>04/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="single.html">Etiam malesu feugiat.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>	
		 		
		     <div class="col-md-4 event-grid wow fadeInLeft animated" data-wow-delay=".5s">
				 <div class="date">
				     <h4>19</h4>
					 <span>08/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="single.html">Etiam malesu feugiat.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid wow fadeInLeft animated" data-wow-delay=".5s">
				 <div class="date">
				     <h4>22</h4>
					 <span>05/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="single.html">Etiam malesu feugiat.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="col-md-4 event-grid wow fadeInLeft animated" data-wow-delay=".5s">
				 <div class="date">
				     <h4>25</h4>
					 <span>03/2012</span>
				 </div>				 
			     <div class="event-info">
					  <h4><a href="single.html">Etiam malesu feugiat.</a></h4>
						<p>Praesent sagittis in enim vel cursus. Aenean velit ante, maximus ac placerat at, 
						volutpat et orci. Aliquam eu tellus orci.</p>					
				 </div>
				 <div class="clearfix"></div>				 			 
			 </div>
			 <div class="clearfix"></div>	
		</div>	
	 </div>
</div>
<!-- //events -->
<!-- news -->
	<div class="news">
		<div class="container">
			<div class="news-text">
				<h3>Latest news</h3>
				<p>Repellat earum rerum hic tenetur a sapiente delectus, 
				ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis 
				doloribus asperiores repellat.</p>
			</div>
			<div class="news-grids">
				<div class="col-md-3 news-grid mask wow fadeInRight animated" data-wow-delay=".5s">
					<a href="single.html" class="mask"><%= image_tag("pic1.jpg", :class => "img-responsive zoom-img", :alt => "image") %></a>
					<span>JUN 10,2014</span>
					<div class="news-info">
						<h4><a href="single.html">Repellat earumrerum</a></h4>
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
						<a href="single.html">Readmore</a>
					</div>
				</div>
				<div class="col-md-3 news-grid mask wow fadeInRight animated" data-wow-delay=".5s">
					<a href="single.html" class="mask"><%= image_tag("pic2.jpg", :class => "img-responsive zoom-img" ,:alt => "image") %></a>
					<span>JAN 15,2015</span>
					<div class="news-info">
						<h4><a href="single.html">Repellat earumrerum</a></h4>
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
						<a href="single.html">Readmore</a>
					</div>
				</div>
				<div class="col-md-3 news-grid mask wow fadeInLeft animated" data-wow-delay=".5s">
					<a href="single.html" class="mask"><%= image_tag("pic5.jpg" ,:class => "img-responsive zoom-img", :alt => "image") %></a>
					<span>JUN 10,2015</span>
					<div class="news-info">
						<h4><a href="single.html">Repellat earumrerum</a></h4>
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
						<a href="single.html">Readmore</a>
					</div>
				</div>
				<div class="col-md-3 news-grid mask wow fadeInLeft animated" data-wow-delay=".5s">
					<a href="single.html" class="mask"><%= image_tag("pic4.jpg", :class => "img-responsive zoom-img", :alt => "image") %></a>
					<span>APR 30,2015</span>
					<div class="news-info">
						<h4><a href="single.html">Repellat earumrerum</a></h4>
						<p>Pellentesque ut urna eu mauris scele risque auctor volutpat et massa pers piciis iste natus scele risque auctor volutpat et massa.</p>
						<a href="single.html">Readmore</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //news -->
<!-- contact -->
<div class="contact">
	<div class="container">
		<div class="col-md-4 contact-left wow fadeInRight animated" data-wow-delay=".5s">
			<h3>Address</h3>
			<h2>Ultimate</h2>
			<p>Diamond street,<br>
			260-14 City, Country<br>
			+62 000-0000-00</p>
			<ul>
				<li>Monday - Friday</li>
				<li>Saturday</li>
				<li>Sunday</li>
			</ul>
			<ul>
				<li>8:00 am - 11:00 pm</li>
				<li>10:00 am - 7:00 pm</li>
				<li>10:00 am - 7:00 pm</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 contact-left wow fadeInUp animated" data-wow-delay=".5s">
			<h3>Links</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="shortcodes.html">Shortcodes</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			
		</div>
		<div class="col-md-4 contact-left footer-bottom wow fadeInLeft animated" data-wow-delay=".5s">
			<h3>Signup for Newsletter</h3>
			<form>
					<input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
					<input type="submit" value=" ">
			</form>
			<a href="#"><span>Facebook</span></a>
			<a href="#"><span>Pinterest</span></a>
			<a href="#"><span>LinkedIn </span></a>
			<a href="#"><span>Behance</span></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="footer wow fadeInDown animated" data-wow-delay=".5s">
	<div class="container">
		<p> &copy; 2016 Ultimate. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
	</div>
</div>
<!-- //contact -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->